In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.read_csv("C:/Users/daipa/OneDrive/Pictures/covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [12]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [8]:
X = df.drop('has_covid', axis=1)
y = df['has_covid']

In [15]:
column_transformer = ColumnTransformer(transformers=[
    ('label_encoder', OneHotEncoder(), ['gender', 'city']),
    ('ordinal_encoder', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
    ('imputer', SimpleImputer(strategy='mean'), ['fever'])
],remainder='passthrough')

In [16]:
column_transformer.fit_transform(X).shape

(100, 9)